```html id="g2xq1z"
<!DOCTYPE html>
<html>

<head>

    <title>AI Study Planner</title>
    <style>.task{
    background-color: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions{
    display: flex;
    gap: 20px;
}

.actions a{
    text-decoration: none;
}</style>

</head>

<body>

    <h1>📚 AI Study Planner</h1>
    
    <h3>{{ suggestion }}</h3>

    <form action="/add" method="POST">

        <input type="text" name="task" placeholder="Enter study task" required>

        <button type="submit">Add Task</button>

    </form>

    <hr>


    <h2>Progress Dashboard</h2>

<table border="1" cellpadding="10">

<tr>
    <th>Topic</th>
    <th>Level</th>
    <th>Score</th>
</tr>

{% for task in tasks %}

<tr>
    <td>{{ task[1] }}</td>
    <td>{{ task[7] }}</td>
    <td>{{ task[6] }}</td>
</tr>

{% endfor %}


</table>
<h2>Your Tasks</h2>
<h3>Today's Recommendation</h3>

<p>{{ recommendation }}</p>

<hr>

    {% for task in tasks %}

        <div class="task">
    <div class="task-name">
        <b>{{ task[1] }}</b>
        - {{ task[2] }}
        - priority: {{ task[3] }}
    </div>

    <div class="actions">
        <a href="/quiz/{{ task[0] }}">📝 Take Quiz</a>
        <a href="/studyplan/{{ task[0] }}">📖 Study Plan</a>
        <a href="/complete/{{ task[0] }}">✅ Complete</a>
        <a href="/delete/{{ task[0] }}">❌ Delete</a>
    </div>
</div>

    {% endfor %}

</body>

</html>
```
